li(class="border border-gray-500 p-2 mb-4") #{todo.content}

input(id="todo-input" hx-swap-oob="true" class="border border-gray-500 flex-grow mr-4 px-2 py-1" type='text' name='todo' value='')

p(id="no-items" hx-swap-oob="true")

