doctype html
html
  include mixins/index.pug
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://cdn.tailwindcss.com')
  body
    nav(class="bg-gray-500 px-4 py-2 mb-4")
      ul(class="flex")
        li(class="mr-4")
          a(href="/") Home
        li
          a(href="/about") About
    main
      block content
