extends ../layout
block content
  h1(class="text-2xl mb-4") About
  p(class="text-lg") I wanted to build a web app with minimal dependencies and simplified frontend. Now all of the logic and state can live in the backend. We can still have a composable frontend experience using pug as the template engine. 